const SEO = {
  title: 'SNPR | NFT analytics',
  defaultTitle: 'SNPR | NFT analytics',
  description: 'The Most Advanced NFT Analytics Platform',
  canonical: 'https://www.snpr.ai/',
  openGraph: {
    type: 'website',
    url: 'https://www.snpr.ai/',
    title: 'SNPR',
    description: 'The Most Advanced NFT Analytics Platform',
    images: [
      {
        url: 'https://www.snpr.ai/assets/og_thumb.webp',
        width: 1200,
        height: 630,
        alt: 'Thumbnail',
      },
    ],
  },
  twitter: {
    site: '@snprai',
    cardType: 'summary_large_image',
  },
};

export default SEO